/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-white: white;
  --color-black: #212121;
  --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-white: #212121;
    --color-black: white;
  }
}
* {
  box-sizing: border-box;
}

html, body {
  font-family: "Source Code Pro", monospace;
  font-size: medium;
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  color: inherit;
}
a:visited {
  color: red;
}
a:hover {
  color: blue;
}

ul {
  list-style: disc;
  padding-left: 1.5em;
}

p code {
  display: inline-block;
  background-color: #eee;
  color: black;
  padding: 0.1em 0.3em;
  border-radius: var(--border-radius);
}

h1, .h1 {
  font-size: 2em;
}

h2, .h2 {
  font-size: 1.5em;
}

h3, .h3 {
  font-size: 1.17em;
}

h4, .h4 {
  font-size: 1em;
}

h5, .h5 {
  font-size: 0.83em;
}

h6, .h6 {
  font-size: 0.67em;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding: 1em;
}

.single-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 25vh;
}

.wp-block-image {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius);
}
.wp-block-image img {
  display: block;
  width: 100%;
  border-radius: var(--border-radius);
}
.wp-block-image figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  transform-style: preserve-3d;
  color: white;
}
.wp-block-image figcaption::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transform: translateZ(-1px);
  border-radius: var(--border-radius);
}

.wp-block-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  width: 100%;
}

.wp-block-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
  border-radius: var(--border-radius);
  background-color: var(--color-black);
  color: var(--color-white);
}
.wp-block-quote cite {
  font-size: 0.75em;
}

.wp-block-code {
  width: 100%;
  margin: 0;
  border-radius: var(--border-radius);
}

.link {
  color: inherit;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
}
.site-header .site-title {
  text-decoration: none;
  text-align: center;
}
.site-header .site-title:visited {
  color: inherit;
}
.site-header .site-navigation .navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.site-header .site-navigation .navigation-menu .link {
  padding: 1em;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
  max-width: 800px;
  padding: 1em;
}
.article .article-thumbnail {
  width: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
}
.article .article-thumbnail .thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.article .article-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 1em;
}
.article .article-content .article-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
  line-height: 1.5em;
}

.article-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
  max-width: 800px;
  padding: 1em;
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.article-card .article-thumbnail {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: var(--border-radius);
  aspect-ratio: 16/9;
}
.article-card .article-thumbnail .thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.article-card .article-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 1em;
}
.article-card .article-content .article-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}
.article-card .article-content .article-actions .link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.75em 1em;
  border-radius: var(--border-radius);
  background-color: transparent;
  text-decoration: none;
  border: 1px solid var(--color-black);
  white-space: nowrap;
  transition: background-color 0.25s, color 0.25s;
}
.article-card .article-content .article-actions .link:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

/*# sourceMappingURL=global.css.map */
