.article {
  @include flex(column);
  gap: 1em;
  width: 100%;
  max-width: 800px;
  padding: 1em;

  .article-thumbnail {
	width: 100%;
	overflow: hidden;
	border-radius: var(--border-radius);

	.thumbnail-image {
	  width: 100%;
	  height: 100%;

	  object-fit: cover;
	  object-position: center;
	}
  }

  .article-content {
	@include flex(column);
	width: 100%;
	gap: 1em;

	.article-meta {
	  @include flex(row, space-between, center);
	  width: 100%;
	  gap: 1em;
	  flex-wrap: wrap;

	  .article-date {
		white-space: nowrap;
	  }

	  .article-tags {
		@include flex(row, flex-start, center);
		gap: 1em;
		flex-wrap: wrap;

		.article-tag {
		  display: inline-block;
		  padding: 0.5em 0.75em;
		  background-color: var(--color-black);
		  color: var(--color-white);
		  border-radius: var(--border-radius);
		}
	  }
	}

	.article-body {
	  @include flex(column);
	  gap: 1em;
	  width: 100%;
	  line-height: 1.5em;

	  ul {
		@include flex(column);
		gap: 1em;
	  }
	}
  }
}