.site-header {
  @include flex(row, center, center);
  width: 100%;
  padding: 1em;

  .site-title {
	text-decoration: none;
	text-align: center;

	&:visited {
	  color: inherit;
	}
  }

  .site-navigation {
	.navigation-menu {
	  @include flex();

	  .link {
		padding: 1em;
	  }
	}
  }
}